# RewriteCond %{REQUEST_URI} ^/dir1/subdir1/
# RewriteCond %{QUERY_STRING} clave=valor
# RewriteRule (.*) /nuevo/ [R=301,L]

<IfModule mod_rewrite.c>
RewriteEngine on


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
#RewriteRule ^([a-z]+)/?$ $1.php [NC]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
#RewriteRule ^([a-z]+)/?$ $1.html [NC]

# RewriteRule ^index/note/edit index.php?controller=$1&action=$2 [L,QSA,NC]
# RewriteRule ^index/(\w+)/(\w+)\.php index.php?controller=$1&action=$2  [L]

</IfModule>